node_modules/
functions/node_modules/
.env
functions/.env
www/config.local.json
dist/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/capacitor-cordova-android-plugins/
*.apk
*.log
www/js/app.js.map
